@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

/* home page css */
.section {
  padding: 1rem;
  /* background-color: #f8f4f1; */
  display: grid;
  gap: 1.5rem;
}

.first {
  margin-top: 60px;
}

.quote-section {
  background-color: #989e8b;
  color: white;
  position: relative;
}

.homePage-button {
  background-color: #a34a21;
  color: white;
  border: none;
  padding: 0.75rem 3rem;
}

button {
  width: 50%;
  margin: auto;
  font-family: "Cinzel", serif;
}

button a {
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

button a:visited {
  text-decoration: none;
  color: white;
}

.placeholderIMG {
  padding: 0.5rem;
  background-color: rgb(246, 214, 214);
}

#rightSetImage {
  width: 75%;
  height: auto;
  margin-left: 30%;
}

#centerImage {
  width: 100%;
}

h3 {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.cursive {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}

.quote {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  /* position: relative; */
  z-index: 10;
  padding: 2rem;
}

#quotationIMG {
  height: 75px;
  width: 75px;
  position: absolute;
  left: 40%;
  margin-top: 20%;
}

#quotation-mark {
  font-size: 15rem;
  margin: auto;
  position: absolute;
  top: 50;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  opacity: 0.2;
}

.meet-section {
  font-family: "Cinzel", serif;
}

.meet-section h3 {
  text-align: center;
  color: #c67f43;
  font-size: 2.25rem;
}

.meet-section p {
  text-align: center;
  font-size: 1.5rem;
}
