* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100dvh;
}

body,
#root {
  height: 100%;
}

/* home page css */
.section {
  padding: 1rem;
}

.quote-section {
  background-color: #989e8b;
  color: white;
}

.homePage-button {
  background-color: #a34a21;
  color: white;
  border: none;
  padding: 0.75rem 3rem;
}

button a {
  text-decoration: none;
}

button a:visited {
  text-decoration: none;
  color: white;
}
